body{
  background-color: black;
}
.label{
  margin-top: 1em;
  color: white;
  font-weight: bold;
}
h2{
  color:black;
}
.box1 {
  margin: 5%;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #aaaaaa;
}
.titulo-card {
  padding: 0px;

}
.boton1 {
  align-items: center;
}
