{% extends '../base/base.html' %}


{% load staticfiles %}
{% block content %}

    <link rel="stylesheet" href="{% static 'css/portada.css' %}">

        <div class="container-fluid">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand ">UNFV - SISTEMAS</h3>
                </div>
            </div>
            <br>
            <div class="inner cover">
                <h1 class="cover-heading" style="margin: 80px 20% 80px 20%">Sistema Gestor de Contenido</h1>
                <p class="lead cover-copy" style="margin-top: 200px">Trabajamos y producimos el producto más sorprendente de todos los
                    tiempos.</p>
                <p class="lead">
                    <button type="button" class="btn btn-lg btn-default btn-notify"><a style="text-decoration: none" href="login/" >INGRESAR</a></button>
                </p>
            </div>
            <div class="mastfoot">
                <div class="inner">
                    <p align="center">&copy; Nuestra Compañia Villareal</p>
                </div>
            </div>
        </div>

{% endblock %}



