{% extends 'base/base.html' %}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/tabla.css' %}">
    <form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}

    <div class="card box1">
      <div class="card-header titulo-card text-center f">
          <h2 class="color">Formulario de Documentos</h2>

      </div >
      <div class="row">
        <div class="form-group offset-lg-2 col-lg-4 cinco" style="padding-left: 0;>
          <label for="inputUniversidad" class="label uno">Universidad</label>
          <select id="inputUniversidad" class="form-control">
            <option  selected >Elegir...</option>
            <option>Universidad Nacional Federico Villarreal</option>
            <option>Universidad Nacional de Ingeniería</option>
            <option>Universidad Nacional Mayor de San Marcos</option>
          </select>
        </div>
        <div class="form-group col-lg-4 " style="padding-left: 0;">
          <label for="inputFacultad" class="label dos">Facultad</label>
          <select id="inputFacultad" class="form-control">
            <option selected>Elegir...</option>
            <option>FIIS</option>
            <option>FIGAE</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group offset-lg-2 col-lg-4 ">
          <label for="inputEscuela" class="label uno">Escuela</label>
          <select id="inputEscuela" class="form-control">
            <option selected>Elegir...</option>
            <option>Ingenieria de sistemas</option>
            <option>Ingenieria de transportes</option>
            <option>Ingenieria insdustrial</option>
            <option>Ingenieria agroindustrial</option>
          </select>
        </div>
        <div class="form-group col-lg-4  ">
          <label for="inputingreso" class="label dos">Año de ingreso</label>
          <select id="inputingreso" class="form-control">
            <option selected>Elegir...</option>
            <option>2017</option>
            <option>2016</option>
            <option>2015</option>
            <option>2014</option>
            <option>2013</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group offset-lg-2 col-lg-4 ">
          <label for="inputtipo" class="label uno">Tipo</label>
          <select id="inputtipo" class="form-control">
            <option selected class="uno">Elegir...</option>
            <option >Estudiante</option>
            <option >Egresado</option>
            <option>Docente</option>
            <option >Invitado</option>
          </select>
        </div>
        <div class="form-group col-lg-4 ">
          <label for="inputgrado" class="label dos">Grado de estudios</label>
          <select id="inputgrado" class="form-control">
            <option selected>Elegir...</option>
            <option>Pregrado</option>
            <option>Maestría</option>
            <option>Doctorado</option>

          </select>
        </div>
      </div>

    <div class="container tres">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">Codigo</th>
                    <th scope="col" class="text-center">Apellidos y Nombres</th>
                    <th scope="col" class="text-center">Seleccione</th>
                </tr>
            </thead>
            <tbody>
                {% for per in persona %}
                <tr>
                    <td class="text-center">{{ per.id }}</td>
                    <td class="text-center">{{ per.id_persona}}</td>
                    <td class="text-center">{{ per.nombre }}</td>


                    <td>
                        <div class="check text-center" id="check1">
                            <input class="checkbox1" type="checkbox" name="persona_pk" id="checkbox1{{ per }}"
                                           value="{{ per.pk }}">
                            <label class="selec" for="checkbox1{{ per }}" >Seleccionar</label>
                        </div>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        <div class="text-center cuatro"> <button id="enviar" type="submit" class="btn btn-outline-primary imprimir">ENVIAR DATOS</button> </div>
    </div>

    </div>
  </form>


{% endblock %}
